services:
  flame:
    image: pawelmalak/flame:latest
    container_name: flame
    volumes:
      - ${STACKR_PROV_POOL_SSD}/data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock # optional but required for Docker integration feature
    environment:
      - PASSWORD=${FLAME_PASSWORD}
    restart: unless-stopped
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.flame.rule=Host(`home.${STACKR_PROV_DOMAIN}`)
      - traefik.http.routers.flame.entrypoints=websecure
      - traefik.http.routers.flame.tls.certresolver=le
      - traefik.http.services.flame.loadbalancer.server.port=5005

networks:
  traefik:
    external: true
