services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # user: uid:gid
    # network_mode: 'host'
    volumes:
      - ${STACK_STORAGE_SSD}/config:/config
      - ${STACK_STORAGE_SSD}/cache:/cache
      - type: bind
        source: ${MEDIA_STORAGE}
        target: /media
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_PublishedServerUrl=https://jf.dumitruvulpe.com
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jt.dumitruvulpe.com`)
      - traefik.http.routers.jellyfin.entrypoints=websecure
      - traefik.http.routers.jellyfin.tls.certresolver=le
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096

networks:
  traefik:
    name: traefik
