services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    # user: uid:gid
    # network_mode: 'host'
    volumes:
      - ${STACKR_PROV_POOL_SSD}/config:/config
      - ${STACKR_PROV_POOL_SSD}/cache:/cache
      - type: bind
        source: ${MEDIA_STORAGE}
        target: /media
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_PublishedServerUrl=https://jf.${BASE_DOMAIN}
    networks:
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.jellyfin.rule=Host(`jf.${BASE_DOMAIN}`)
      - traefik.http.routers.jellyfin.entrypoints=websecure
      - traefik.http.routers.jellyfin.tls.certresolver=le
      - traefik.http.services.jellyfin.loadbalancer.server.port=8096

networks:
  traefik:
    external: true
