http:
  routers:
    vulpe-http:
      rule: Host(`vulpe.dev`) || HostRegexp(`{subdomain:[a-z0-9-]+}.vulpe.dev`)
      entryPoints: [web]
      service: vulpe-http
    http-catchall:
      entryPoints: [web]
      rule: HostRegexp(`{host:.+}`)
      middlewares: [redirect-to-https]
      service: noop
  services:
    vulpe-http:
      loadBalancer:
        servers:
          - url: "http://192.168.1.103:80"
    noop:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1:65535"
  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: https
        permanent: true

tcp:
  routers:
    vulpe-tcp:
      rule: HostSNI(`vulpe.dev`, `*.vulpe.dev`)
      entryPoints: [websecure]
      service: vulpe-tcp
      tls:
        passthrough: true
  services:
    vulpe-tcp:
      loadBalancer:
        servers:
          - address: "192.168.1.103:443"

